---
layout: default
title: Blog - Jonas Weber
---

{% for post in paginator.posts %}
{% if post.layout == "post" %}
<section class="post">
	<header class="post-header">
		<!-- avatar removed -->
		<h4 class="post-title">
			<a href="{{post.url}}">
				{{post.title}}
			</a>
		</h4>
		<p class="text-muted">
		under {% for tag in post.categories %}<span class="label label-default">{{tag}}</span> {%endfor%}
		</p>
	</header>

	{{post.excerpt}}
	<a href="{{post.url}}">Read more...</a>
</section>
{% elsif post.layout == "reading-tip" %}
<section class="post">
	<header class="post-header">
		<h4>
			<a href="{{post.href}}" target="_blank">
				Reading Tip: {{post.title}}
			</a>
		</h4>
		<p class="text-muted">
		under {% for tag in post.categories %}<span class="label label-default">{{tag}}</span> {%endfor%}
		</p>
	</header>
	{{post.excerpt}}
	<a href="{{post.href}}" target="_blank">Read external article...</a>
</section>
{% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul style="margin-top: 3em" class="pager">
	{% if paginator.next_page %}
		<li class="previous">
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older Posts</a>
		</li>
	{% else %}
		<li class="previous disabled">
			<a href="#">
				&larr; Older Posts
			</a>
		</li>
	{% endif %}
		<li>
			<a href="{{site.url}}">Home</a>
		</li>
	{% if paginator.previous_page %}
		<li class="next">
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts &rarr;</a>
		</li>
	{% else %}
		<li class="next disabled">
			<a href="#">
				Newer Posts &rarr;
			</a>
		</li>
	{% endif %}
</ul>
{% endif %}
