
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

<title>{{page.title}}</title>

<link rel="canonical" href="{{site.url}}{{page.path | replace:'index.html','' }}" />
<link rel="shortcut icon" href="{{site.url}}assets/jw-small.jpg">

<style>
{% include syntax.css %}
{% capture custom_scss %}
{% include custom.scss %}
{% endcapture %}
{{ custom_scss | scssify }}
</style>
