
<div class="header">
	{% image jw-small.jpg class="post-avatar" %}
	<h1 class="brand-title"><a href="/">Jonas Weber</a></h1>
	<h2 class="brand-tagline">
		<strong>cat</strong> <i>/dev/mind</i>
	</h2>

	<div class="footer">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="pure-menu pure-menu-vertical">
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="http://twitter.com/thriqon/" class="pure-menu-link">Twitter</a></li>
						<li class="pure-menu-item"><a href="http://github.com/thriqon/" class="pure-menu-link">GitHub</a></li>
						<li class="pure-menu-item"><a href="mailto:contact@jonasw.de" class="pure-menu-link">contact@jonasw.de</a></li>
					</ul>
				</div>
			</div><div class="pure-u-1-2 muted" style="text-align: right">
				<p>
				Imberyweg 2<br>
				79111 Freiburg
				</p>
			</div>
		</div>
	</div>
</div>
