* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #022690;
}
a:hover,
a:focus {
	text-decoration: underline;
}

h3 {
	font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}

#layout {
	padding: 0;
}

.header {
	text-align: center;
	top: auto;
	margin: 3em auto;
}

.sidebar {
/*	background-color: #001f3f;
/*	background: rgb(61, 79, 93);*/
	/*color: #fff;*/
	border-right: 1px solid grey;
}

.brand-title,
.brand-tagline {
	margin: 0;
}
.brand-title {
	text-transform: uppercase;
}
.brand-tagline {
	font-weight: 300;
	/*color: rgb(176, 202, 219);*/
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.content-subhead {
	text-transform: uppercase;
	color: #555;
	border-bottom: 1px solid #555;
	padding: 0.4em 0;
	font-size: 80%;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.content {
	padding: 2em 1em 0;
}

.post {
	padding-bottom: 2em;
}
.post-title {
	font-size: 2em;
	color: #222;
	margin-bottom: 0.2em;
}
.post-title a, .sidebar a {
	color: #222;
}
.sidebar a {
	text-decoration: none;
}
.post-avatar {
	border-radius: 100%;
	max-width: 100px;
}
.post-description {
	font-family: Georgia, "Cambria", serif;
	color: #444;
	line-height: 1.8em;
}
.post-meta, .muted {
	color: #555;
	font-size: 90%;
	margin: 0;
}

.post-category {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color: #fff;
	background: #555;
	font-size: 80%;
}

.post-images {
	margin: 1em 0;
}
.post-image-meta {
	margin-top: -3.5em;
	margin-left: 1em;
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

.footer {
	position: static;
	padding: 1em;
}
.footer a {
	color: #555;
	font-size: 80%;
}
.footer .pure-menu {
	text-align: left;
}

.footer .pure-menu .pure-menu-item {
	padding: 0.3em;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
	background: none;
}

@media (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}

	.header {
		margin: 80% 2em 0;
		text-align: right;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}

	.footer {
		text-align: right;
		position: absolute;
		bottom: 10px;
		width: 100%;
		left: 0;
		padding-right: 3em;
	}

}

html {
	overflow-y: scroll;
}

blockquote {
	background-color: aliceblue;
	padding: 1em;
}

.pagination {
	text-align: center;
	margin-bottom: 3em;
}

.pagination a, .pagination span {
	display: inline-block;
	margin: -2px;
}
