<!doctype html>
<html lang="en">
	<head>
    {% include head.html %}
	</head>
	<body>
		<nav class="navbar">
			<div class="box">
        <div class="motto">
          <span class="kd">cat</span> <span class="nx">/dev/mind</span>
        </div>

        <a href="{{site.url}}">
          <img src="/assets/jw-small.jpg" height="50" width="50">
        </a>
        <a href="{{site.url}}">
          <span class="name">Jonas Weber</span>
        </a>
			</div>
		</nav>
		<div class="box">
			{{content}}
		</div>

		<footer class="box">
      <ul class="horizontal">
        <li>
          <a href="http://github.com/thriqon/">
            GitHub
          </a>
        </li>
        <li>
          <a href="http://twitter.com/thriqon/">
            Twitter
          </a>
        </li>
        <li>
          <a href="mailto:contact@jonasw.de">
            contact@jonasw.de
          </a>
        </li>
        <li>
          <a href="{{site.url}}feed.xml">
            RSS
          </a>
        </li>
      </ul>
		</footer>
	</body>
</html>
