<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<title>{{page.title}}</title>

		<link rel="shortcut icon" href="{% asset_path jw-small.jpg %}">
		<style>
			{% asset 'inline.css' %}
		</style>

	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a href="{{site.url}}">
						{% image jw-small.jpg style="height: 60px; border-radius: 100px; padding: 5px; float:left" alt="Photo of Jonas" %}
					</a>
					<a class="navbar-brand" href="{{site.url}}" style="background-color: transparent">
						Jonas Weber
					</a>
				</div>
			</div>
		</nav>
		<div class="container">
			{{content}}
		</div>

		<footer style="margin-top: 3em; border-top: 1px solid #eee; margin-bottom: 2em">
			<div class="container">
				<ul class="nav nav-pills" style="margin-top: 0.2em">
					<li>
						<a href="http://twitter.com/thriqon/">
							<i class="fa fa-twitter"></i>
							Twitter
						</a>
					</li>
					<li>
						<a href="http://github.com/thriqon/">
							<i class="fa fa-github"></i>
							GitHub
						</a>
					</li>
					<li>
						<a href="mailto:contact@jonasw.de">
							<i class="fa fa-envelope"></i>
							contact@jonasw.de
						</a>
					</li>
					<li>
						<a href="{{site.url}}feed.xml">
							<i class="fa fa-rss"></i>
							RSS
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</body>
{% css_asset_tag global %}
- /_assets/stylesheets/bootstrap.min.css
- /_assets/stylesheets/syntax.css
- /_assets/stylesheets/custom.css
{% endcss_asset_tag %}
{% css_asset_tag fa %}
- /_assets/stylesheets/font-awesome.css
{% endcss_asset_tag %}

</html>
