<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<title>{{page.title}}</title>

		<style>
		{% asset 'inline.css' %}
		</style>

		<link rel="shortcut icon" href="{% asset_path jw-small.jpg %}">

	</head>
	<body>
		<div id="layout" class="pure-g">
			<div class="sidebar pure-u-1 pure-u-md-1-4">
				{% include sidebar.html %}
			</div>
			<div class="content pure-u-1 pure-u-md-3-4">
				{{ content }}
			</div>
		</div>

	</body>
{% css_asset_tag global %}
- /_assets/stylesheets/pure.css
- /_assets/stylesheets/grids.css
- /_assets/stylesheets/syntax.css
- /_assets/stylesheets/blog.css
{% endcss_asset_tag %}
</html>
