---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": "{{site.url}}{{page.path}}",
  "headline": "{{page.title}}",
  "datePublished": "{{page.date | date_to_xmlschema }}",
  "description": "{{page.excerpt | strip_html}}",
  "author": {
    "@type": "Person",
    {% if page.author %}
    "name": "{{page.author.name}}",
    "url": "{{page.author.href}}"
    {% else %}
    "name": "Jonas Weber",
    "url": "{{site.url}}"
    {% endif %}
  }
}
</script>

<h1>{{page.title}}</h1>
<p class="post-meta">
	Posted on {{page.date | date: "%B %-d, %Y" }}
	{% if page.author %}
	by: <a href="{{page.author.href}}">{{page.author.name}}</a>
	{% endif %}
	under {% for tag in page.categories %}<a href="/tags/{{tag}}/"><span class="label">{{tag}}</span></a> {%endfor%}
</p>

{% if page.notice %}

<div class="highlight">
  {{page.notice}}
</div>

{% endif %}

{{content}}
